
<div class="text-center">
    <h2>@ViewData["Title"]</h2>
    <p>
        <b>Forecast Date:</b> @Model.forecastDate<br />
        <b>Location:</b> @Model.location<br />
        <b>Temperature:</b> @Model.temperature<br />
        <b>Feels like:</b> @Model.feelsLike<br />
        <b>Descriptor:</b> @Model.descriptor<br />
        <b>Image path:</b> @Model.imagePath<br />
        <b>Wind speed:</b> @Model.windSpeed<br />
        <b>Wind direction:</b> @Model.windDirection<br />
        <b>Pressure:</b> @Model.pressure<br />
    </p>
</div>





